<br />
<h2>Search and Save Recipes</h2>
<p>Powered by the Recipe Puppy API</p>
<p>http://www.recipepuppy.com/about/api/</p>

<img src="https://i.ytimg.com/vi/Qcf2_hT7Jq8/maxresdefault.jpg" height="400" />

<br />
<br />
@Html.ActionLink("Search", "Index", "Recipes")
