<br />

<h2>Recipe Search</h2>
<p>Powered by Recipe Puppy API</p>
<p style="font-size:smaller">(Don't worry, we don't eat puppies.)</p>

<form action="~/Home/DisplayRecipes/">
    <p>Search by ingredients</p><input type="text" name="ingredients"/> (please separated terms by commas)
    <p>Search by title</p><input type="text" name="title"/>
    <br />
    <input type="submit" value="Find Recipies"/>
</form>
