<br />

<h2>Recipe Search</h2>
<p>Powered by Recipe Puppy API</p><br />
<p>Don't worry, we don't eat puppies.</p>

<form action="~/Home/GetRecipesFromAPI/" method="post">
    Search by ingredients<input type="text" name="ingredients"/>
    Search by title<input type="text" name="title"/>
    <input type="submit"/>
</form>
